ACCESS_TOKEN_EXPIRE_MINUTES=5
AUTH_ALGORITHM=HS256
SECRET_AUTH_KEY=

POSTGRES_SCHEMA=public
POSTGRES_HOST=db
POSTGRES_DB=fastapi_db
POSTGRES_PORT=5434
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_RECONNECT_INTERVAL_SEC=1
